.container-fluid {
    position: absolute;
    width: 1440px;
    height: 960px;
    left: 0px;
    top: 0.43px;
    background-image: url(img/bg1.png);


}


a .logo {
    text-decoration: none;

}

ul,
h1 {
    z-index: 9;
}

ul li a:hover {
    color: gold;
    /* background-color: black; */
    display: inline-block;

}

.header {

    line-height: 70px;
    height: 90px;
    text-align: center;
    justify-content: center;
    /* position: absolute; */
    /* left: 0%;
    right: 0%;
    top: -0.03%;
    bottom: 90.66%; */

    background: rgba(0, 0, 0, 0.5);

}

.header h1 {
    position: absolute;
    width: 77px;
    height: 33px;
    left: 107px;
    top: 28.7px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */

    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #FFFFFF;

}

.sign-up {
    position: absolute;
    /* width: 64.83px; */
    /* height: 21.4px; */
    left: calc(50% - 64.83px/2 + 451.42px);
    /* top: calc(50% - 21.4px/2 - 432.6px); */
}

ul li a {

    font-family: Arial, Helvetica, sans-serif Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    /* line-height: 16px; */
    text-align: right;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.page-1 {

    position: absolute;
    height: 73.12px;
    left: 9.22%;
    right: 10.47%;
    top: calc(50% - 73.12px/2 - 130.06px);

}

.page-1 h1 {

    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 83px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;

    color: #FFFFFF;
}

.kotak-page-1 {
    position: absolute;
    width: 1441.55px;
    height: 960.14px;
    left: -1.55px;
    top: 0.11px;

    background: radial-gradient(189.96% 61.18% at 50% 38.82%, rgba(255, 181, 72, 0) 0%, rgba(52, 44, 29, 0.80319) 73.22%, #08090A 99.74%);

}

.page-1 h3 {
    left: 33.84%;
    right: 29.66%;
    top: 46.23%;
    bottom: 50.89%;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    /* identical to box height */

    letter-spacing: 2px;

    color: #FFFFFF;

}

.page-1 button {
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    /* font-size: 72px; */
    line-height: 43px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;

    /* color: #FFFFFF; */
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    border-radius: 4px;
}

.page-2 {
    position: absolute;
    width: 1441.62px;
    height: 1051.43px;
    left: -1.55px;
    top: 959.43px;
    background-image: url(img/bg2.png);
}

.kotak {
    /* position: absolute; */
    width: 1441.6px;
    height: 1052.33px;
    left: -1.55px;
    top: 958.58px;


    background: #0F0F0F;
    opacity: 0.9;
}

.photos {
    position: absolute;
    width: 808px;
    height: 477px;
    left: 453px;
    top: 318.7px;
}

img {
    width: 858px;
    height: 477px;
    left: 453px;
    top: 318.7px;

}

.page-2 h3 {
    position: absolute;
    left: 5.7%;
    right: 76.09%;
    top: 28.48%;
    bottom: 68.64%;

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 2px;

    color: #FFFFFF;
}

.page-2 h1 {
    position: absolute;
    height: 73.64px;
    left: 5.42%;
    right: 66.01%;
    top: calc(50% - 73.64px/2 - 133.59px);

    font-family: Arial;
    font-style: normal;
    font-weight: normal;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: 3px;
    text-transform: uppercase;

    color: #FFFFFF;

}